@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
/*---------------
 phone title 
 ---------------*/
#title {
    color: #0071C6;
    font-weight: 700;
    font-size: 2.5rem;
}

/* ------------------------
input search field style
----------------------- */
#search-field {
    color: #0071C6;
    font-weight: 700;
    font-size: 0.95rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#button-addon2 {
    color: white;
    background-color: #0071C6;
    font-weight: 700;
    font-size: 1.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #CED4DA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#button-addon2:hover {
    background-color: white;
    color: #0071C6;
}
/* ------------
error handel 
-------------*/
#search-null {
    display: none;
}
#search-not-found {
    display: none;
}
#show-all-btn {
    display: none;
}

#spinner {
    display: none;
}

/*-------------------------
 phone cart detail button 
 ----------------------*/
#show-detail-btn {
    background-color: #0071C6;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
    border: 2px solid #0071C6;    
}
#show-detail-btn:hover {
    background-color: white;
    color: #0071C6;
    border: 2px solid #0071C6;
}
#phone-cart:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
#show-all-btn {
    background-color: white;
    color: #0071C6;
    border-radius: 20px;
    padding: 3px 10px;
    border: 2px solid #0071C6;  
    margin-bottom: 50px;
    margin-top: 20px;
    align-items: flex-end;
}
#show-all-btn:hover {
    background-color: #0071C6;
    color: white;
    border: 2px solid #0071C6;
}

/*--------------------
 using Media queries 
 --------------------*/
@media (min-width: 576px) { 
    #title {
        font-size: 2.5rem;
    }
    #search-field {
        font-weight: 700;
        font-size: 1.5rem;
        width: 70%;
    }
    #input-width {
        width: 70%;
    }
    #title {
        font-weight: 700;
        font-size: 3.5rem;
    }
    #phone-details {
        width: 70%;
        border: 0px;
        border-radius: 20px;
    }
 }